@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }

  <<<<<<< HEAD
}

.Developer {
  font-family: "Roboto Condensed", sans-serif;
}

footer {

  font-family: "Roboto Condensed", sans-serif;
}

footer ul li::before {
  content: '•';
  margin-right: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #fead26;
}


.missen-div {
  background-color: #fff;
  padding: 30px;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, rgb(252, 236, 216) 0%, rgb(254, 246, 236) 41%, rgb(255, 255, 255) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(252, 236, 216) 0%, rgb(254, 246, 236) 41%, rgb(255, 255, 255) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(252, 236, 216) 0%, rgb(254, 246, 236) 41%, rgb(255, 255, 255) 100%);
  box-shadow: 0 0 10px gainsboro;

}

/* Add this to your CSS file */
.slick-slide {
  padding: 0 10px;
  /* Adjust the padding as needed */
}

.slider-container {
  /* Adjust the negative margin to account for the padding */
  margin: 0 -10px;
}

=======.Developer {
  font-family: "Roboto Condensed", sans-serif;
}

footer {

  font-family: "Roboto Condensed", sans-serif;
}

.blog {
  font-family: "Roboto Condensed", sans-serif;
}

.slider {
  font-family: "Roboto Condensed", sans-serif;
}

footer ul li::before {
  content: '•';
  margin-right: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #fead26;
}

/* Luxury */
.Luxury {
  font-family: "Roboto Condensed", sans-serif;
  background-image: url(../Assets/luxury_living_bg.webp);
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
  background-position: center center;
}