@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.animate-marquee {
    animation: marquee 15s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-270%);
    }
  }
  .Developer{
    font-family: "Roboto Condensed", sans-serif;
  }
  footer{
    
    font-family: "Roboto Condensed", sans-serif;
  }
  .blog{
    font-family: "Roboto Condensed", sans-serif;
  }
  .slider{
    font-family: "Roboto Condensed", sans-serif;
  }
  footer ul li::before{
    content: '•';
    margin-right: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #fead26;
  }

  /* Luxury */
  .Luxury{
    font-family: "Roboto Condensed", sans-serif;
    background-image: url(../Assets/luxury_living_bg.webp);
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-position: center center;
  }